PROJECT_MODEL_RELATIONSHIP_ID_ITEMS_ARCHIVES=26
PROJECT_MODEL_RELATIONSHIP_ID_ITEMS_ITEMS=27
PROJECT_MODEL_RELATIONSHIP_ID_ITEMS_PEOPLE=28
PROJECT_MODEL_RELATIONSHIP_ID_ITEMS_PUBLISHERS=29
PROJECT_MODEL_RELATIONSHIP_ID_PUBLISHERS_PLACES=30
PROJECT_MODEL_RELATIONSHIP_ID_ARCHIVES_PLACES=25
PROJECT_MODEL_ID_ARCHIVES=44
PROJECT_MODEL_ID_ITEMS=42
PROJECT_MODEL_ID_PEOPLE=41
PROJECT_MODEL_ID_PLACES=40
PROJECT_MODEL_ID_PUBLISHERS=43
PROJECT_MODEL_ID_WORKS=39

UDF_EDITIONS_NOTES_UUID="b9083567-f2f3-461d-90cd-2f91dbf27abf"
UDF_EDITIONS_TYPE_UUID="21adc2bf-6970-4927-91de-cc476ab2e352"
UDF_EDITIONS_FORMAT_UUID="4de71c17-308a-41ed-bc0e-19f4f7aee55c"
UDF_EDITIONS_LINE_UUID="8412f5df-4d50-42ab-bf04-4ddddc32217f"
UDF_EDITIONS_BNF_UUID="37356223-13a8-46d9-9bb8-45fb81e99daf"
UDF_EDITIONS_DPLA_UUID="a1242489-98c8-4fd8-b386-fd90574914cb"
UDF_EDITIONS_JISC_UUID="a17d36d6-f382-4280-8c59-d48c2d0b804b"
UDF_EDITIONS_PUBLICATION_DATE_UUID="fda80804-8753-4b15-8e11-3d291585cc79"
UDF_PEOPLE_VIAF_UUID="c2996131-bd5e-4522-a655-30529d5f19aa"
UDF_PEOPLE_WIKIDATA_UUID="49f5b068-537e-45d1-9f14-340d08ebb134"
UDF_PLACES_VIAF_UUID="026b729d-99e0-4c55-8fd1-8e3c77025e37"
UDF_PLACES_WIKIDATA_UUID="56c14889-f1c0-4d18-8c04-a95f06103f81"
UDF_WORKS_STATUS_UUID="ab840e64-c0ed-4ba6-891d-27bd07dc7e2a"

BNF_AUTHORITY_ID=1
DPLA_AUTHORITY_ID=2
JISC_AUTHORITY_ID=3
VIAF_AUTHORITY_ID=4
WIKIDATA_AUTHORITY_ID=5
